/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;600;700&display=swap");

/* shared styles */
* {
    font-family: "Lato", sans-serif;
    font-family: "Work Sans", sans-serif;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.btn-primary {
    border-radius: 8px;
    background: #ff900e;
    padding: 20px 25px;
    color: #fff;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 230px;
    margin-bottom: 85px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    max-width: 1440px;
    margin-top: 50px;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams section */
.teams {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.teams .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams .content {
    padding-left: 76px;
    padding-right: 76px;
}

.teams .content .title {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.teams .content .title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams .content .title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams .content .title .features {
    color: #FF900E;
    font-weight: 700;
    display: block;
}

/* features section */
.features {
    display: flex;
    gap: 146px;
    margin-top: 130px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.features .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.features .img-container img {
    margin-left: 90px;
}

.features .badge {
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 45px 40px;
    width: 342px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.features .badge h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.features .badge p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
}

/* facts section */
.facts .card-container {
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
}

.facts .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px;
    text-align: center;
}

.facts .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0;
}

.facts .card-title {
    font-size: 1.25rem;
    font-weight: 600; 
    margin-top: 0;
}

/* sponsors section */
.sponsors {
    text-align: center;
    margin-bottom: 130px;
}

.sponsors .img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    gap: 1.25rem;
}

.sponsors img {
    width: 165px;
}

/* footer section */
footer {
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
    padding: 40px 410px;
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* header */
    header {
        padding: 50px;
    }

    nav,
    .teams,
    .sponsors .img-container,
    .features {
        flex-direction: column;
    }
    /* main styles */
    .teams .content .title .features {
        display: inline;
    }

    .facts,
    .sponsors,
    .features {
        padding-left: 30px;
        padding-right: 30px;
    }

    .facts .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .features .img-container img {
        width: 100%;
        margin-left: 0;
    }

    .features .badge {
        left: calc(100vw/2 - 230px);
    }

    footer {
        padding: 40px 30px;
    }

}

/* mobile devices */
@media screen and (max-width: 576px) {
    /* header */
    header {
        padding: 20px;
    }

    nav,
    .teams,
    .facts .card-container,
    .sponsors .img-container,
    .features {
        flex-direction: column;
    }

    /* main styles */
    .teams .img-container{
        grid-template-columns: 1fr;
    }

    .teams .content,
    .features,
    .facts {
        padding-left: 24px;
        padding-right: 24px;
    }

    .teams .content .title .features {
        display: inline;
    }

    .features .img-container img{
        width: 100%;
        margin-left: 0;
    }

    .features .img-container .badge {
        position: static;
        max-width: 75%;
    }

    .facts .card-container{
        gap: 20px;
    }

    footer {
        padding: 40px 30px;
    } 
}

